@model IEnumerable<Task1.Models.ContactModel>
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor Accessor

@{
	ViewData["Title"] = "Contacts";
}

@if (Accessor.HttpContext.Session.GetString("user") != null)
{
	<p>
		<a asp-action="Create">Create New</a>
	</p>
}

<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Name)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Surname)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Email)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Category)
			</th>

			@if (Accessor.HttpContext.Session.GetString("user") != null)
			{
				<th>
					Action
				</th>
			}


			<th></th>
		</tr>
	</thead>
	<tbody>
		@if (Model != null)
			foreach (var item in Model)
			{
				<tr>
					<td>
						@Html.DisplayFor(modelItem => item.Name)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Surname)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Email)
					</td>

					<td>
						@Html.DisplayFor(modelItem => item.Category)
					</td>

					@if (Accessor.HttpContext.Session.GetString("user") != null)
					{
						<td>
							@Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
							@Html.ActionLink("Details", "Details", new { id = item.ID }) |
							@Html.ActionLink("Delete", "Delete", new { id = item.ID })
						</td>
					}


				</tr>
			}
	</tbody>
</table>
